<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.aalto.cse.msp14.carplatforms.obd2_client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>

	<uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK">
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fi.aalto.cse.msp14.carplatforms.obd2_client.DemoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
<!--                 <category android:name="android.intent.category.LAUNCHER" />  -->
            </intent-filter>
        </activity>
        <activity
            android:name="fi.aalto.cse.msp14.carplatforms.obd2_client.BootActivity"
            android:label="Boot test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service 
            android:name="fi.aalto.cse.msp14.carplatforms.obd2_client.OBD2Service"
            android:process="fi.aalto.cse.msp14.carplatforms.obd2_client.OBD2Service"
            >
        </service>
    </application>

</manifest>
